@font-face {
	font-family: "Cascadia Mono";
	src: url("../fonts/CascadiaMono.woff2");
}

* {
	margin: 0;
	padding: 0;
	border: 0;
}

.landing{
	background-image: url("../images/Desktop/bg1.jpg");
	width: 100vw;
	height: 100vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: grid;
	grid-template-rows: auto 1fr 1fr 1fr;
}

.container{
	width: 100vw;
	height: 100vh;
	display: grid;
}

.logo{
	width: 70px;
	height: 100px;
	background-image: url("../images/nav_logo.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 70px 100px;
	position: relative;
	top: 20px;
	left: 20px;
}

.title{
	height: 100%;
	width: 100%;
	/* position: absolute; */
	/* margin-top: auto;
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto; */
	font-weight: bold;
	text-align: center;
	font-family: "Cascadia Mono";
	color: #dddddd;
}

.upperTitle{
	font-size: 50px;
	padding-top: 70px;
	padding-bottom: 10px;
}

.lowerTitle{
	font-size: 45px;
}

.navbar{
	width: 59em;
	height: 50px;
	position: absolute;
	right: 0;
	background-image: linear-gradient(to bottom right, rgba(244, 63, 93, 0.7), rgba(225, 29, 71, 0.7));
	border-bottom-left-radius: 25px;
	color: white;
	font-family: "Cascadia Mono";
}

.navbar > span{
	padding: 15px;
	position: relative;
	top: -2px;
	float: right;
	text-shadow: 1px 1px 2px rgba(41, 53, 66, 0.31);
}